<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="<%- root_url %>/favicon.ico">
	<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/bootstrap.min.css"/>
	<link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="<%- root_url %>/assets/css/style.css"/>
</head>

<body>
	<main id="main">
		<div id="form">
			<h2>Terms of Use</h2>
			<div class="terms-of-use-section">
				<div class="terms-of-use scrollbox">
					
					<h5>Terms of Use Agreement for Access to Transcribed JCRS Records</h5>
					<br>
					<p>The transcribed corpus of records from the Jewish Consumptive Relief Society contains data that include individually identifiable health information, among other sensitive information regarding persons and people. All individuals for whom records are provided have been deceased for at least 70 years, but were they still living today, these records would be recognized as being protected health information under the US Health Insurance Portability and Accountability Act of 1996 (HIPAA). </p>
					<p>While HIPPA and other privacy laws no longer apply to these individuals, in providing these data the University of Denver wishes to foster research practices that express the utmost respect for the human beings whose lives are represented, at least in some part, in these collections. In addition, we ask researchers respect the lives of these individuals’ ancestors and their communities. </p>
					<p>To foster practices that honor patients, staff, nurses and physicians connected with the JCRS Sanitorium, as well as their families, ancestors and communities, we ask that researchers disclose their intended use of the collection for review by our Advisory Board (see reverse). This Board is comprised of ethicists, historians, librarians, attorneys, physicians, and members of the Jewish community.</p>
					<p>In addition, we ask researchers agree to conduct their work under the following set of principles: </p>
					<ul>
						<li>I affirm the role of JCRS patients and staff as data creators and will avoid exploiting and/or dehumanizing them by treating them simply as data. </li>
						<li>My research will, when possible and appropriate, account for the contexts surrounding the JCRS subjects as data arise. My work will recognize that all data and datasets are shaped by decisions about how histories are recorded, remembered, and valued. </li>
						<li>If the nature of my work is such that I am sharing the life stories and/or narratives of individuals in these data, and I can do so with no potential harm to their reputation or that of their ancestors, I will honor them by naming them. If the nature of my work is such that I am exploring large-scale patterns in the dataset, and naming individuals serves no specific research purpose, I will anonymize and/or redact names within the data. </li>
						<li>If I am publishing the results of research conducted with these data, I will, if possible and appropriate, include a note of recognition and/or gratitude in my publication. We suggest a version of:<p>“This work was made possible in part by the patients, staff, nurses, physicians, and community of the Jewish Consumptive Relief Society (JCRS). The people who lived, worked, and died at the JCRS sought to relieve human suffering. I am grateful to them.”</p></li>
					</ul>
					<p>I agree to abide by these principles to the best of my ability. </p>

				</div>
			</div>
		</div>
	</main>
</body>