.disabled {
	pointer-events: none;
    opacity: 0.8;
}

#form {
	padding: 20px 30px;
    width: 100%;
}

.form-control:disabled, .form-control[readonly] {
    background-color: inherit;
    opacity: 1;
}

.form-inline .form-control,
.form-control {
    width: 85%;
}

.btn {
	background-color: rgb(221,221,221) !important;
    width: 12%;
}

.form-section {
	padding: 20px 20px 5px 20px;
    margin: 20px 0;
    background: #efefef;
    border-radius: 5px;
}

.code-display.form-control:disabled {
    background-color: #ffffff;
}

.list-container {
	height: unset;
	max-height: 300px;
    width: 90%;
	overflow-y: scroll;
}

.list-container ul {
	list-style-type: none;
}

.code-display {
	min-height: 370px;
	font-family: "monospace","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
	font-size: 0.85rem;
	background-color: #ffffff;
}

.copy-text-link {
    display:  none;
    align-self: baseline;
}

.copy-text-link:hover {
    cursor:  pointer;
}

.copy-click::after {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 20px;
    color: green;
    pointer-events: none;
    margin-left: 18px;
    /*font-size:  1.2em;*/
}

#param-options ul {
    margin-bottom:  0;
}

#api-key-feedback:after {
	font-family: FontAwesome;
    content: "\f00c";
    font-size: 20px;
    color: green;
    pointer-events: none;
    font-weight: bold;
    position: relative;
    right: 128px;
}

.scrollbox {
	overflow-y: scroll;
    padding: 10px;
    border: solid;
    border-width: 1px;
    border-color: #e5e3e1;
}

.terms-of-use-section {
	width: 100%;
    margin-top: 20px;
}

.terms-of-use {
	max-height: 800px;
}

.terms-of-use h5 {
    font-weight: bold;
}

.terms-of-use ul {
    list-style-type: decimal;
}

.terms-of-use li {
    margin-top: 20px;
}

.terms-of-use li p {
    margin-top: 20px;
    margin-left: 30px;
}

footer {
    min-height: 100px;
    background-color: #e5e3e1;
    padding: 30px 0;
}

footer > div {
    margin: 0 auto;
    width: 95%;
}

footer {
    font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
    #form {
        width: 920px;
    }
}