.btn {
	background-color: rgb(221,221,221) !important;
}

.list-container {
	height: unset;
	max-height: 300px;
    width: 90%;
	overflow-y: scroll;
}

.list-container ul {
	list-style-type: none;
}

#query-response-display,
#python-code-display {
	min-height: 370px;
	font-family: "monospace","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
	font-size: 0.85rem;
}

@media (min-width: 576px) {
	.form-inline .form-control,
	.form-control {
	    width: 90%;
	}

	#content {
		width: 37%;
	}
}